

.container
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 2em;
    height: 98vh;
    flex-flow: row wrap;
}



.short
{
    background: gray;
    height: 75%;
    width: 49%;
    margin: auto;
}


.large
{
    background: green;
    width:  99%;
    height: 10%;
    margin: auto;
}